<div class="container">
  <h2>Directions</h2>
  <address>
    <strong>LAJUG @ Pivotal</strong><br/>
    1333 2nd St.<br/>
    Santa Monica, CA 90401<br/>
  </address>

  LAJUG meets at Pivotal, in Santa Monica.
  <p></p>
  <p></p>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9003.740647591454!2d-118.50278333269635!3d34.018131927650664!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4cff165ae37%3A0xb2e0f317bfeb9f0c!2s1333+2nd+St%2C+Santa+Monica%2C+CA+90401!5e0!3m2!1sen!2sus!4v1477598293821" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
