<div class="container">
  <h2>Directions</h2>
  <address>
    <strong>LAJUG @ Ticketmaster</strong><br/>
    7060 Hollywood Blvd, 3rd Floor<br/>
    Hollywood, CA, 90028<br/>
  </address>

  <p>LAJUG meets at Ticketmaster, in Hollywood.</p>
  <h3>Parking and Validation</h3>
  <p>Please park in our underground garage (entrance on Sycamore just south of Hollywood Blvd) and be sure to bring your ticket in with you so that we may ensure we validate it for you.
  Take the elevator up to the lobby (“L”) to check in.</p>
  <p></p>
  <p></p>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3303.76501059602!2d-118.34571258465674!3d34.10115988059271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf20fddbeff5%3A0x39a16a8bedc69237!2sTicketmaster!5e0!3m2!1sen!2sus!4v1530124043833" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
