<div class="container">
  <h2>Directions</h2>
  <address>
    <strong>LAJUG @ Huge, Inc.</strong><br/>
    6100 Wilshire Blvd, 2nd Floor<br/>
    Los Angeles, CA, 90048, USA<br/>
  </address>

  <p>LAJUG will meet at Huge, Inc. in Los Angeles.</p>
  <p>There is plenty of street parking in the area and several lots people can park at for a fee, including at the Petersen Automotive Museum garage right across the street (entrance on Fairfax).</p>
  <p></p>
  <p></p>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.2623670781827!2d-118.36407868499221!3d34.06278798060304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b93c69f65973%3A0xe16fb0a243fb8e8!2sHuge!5e0!3m2!1sen!2sus!4v1484678645406" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
