<div id="about" class="container">
  <h2>About</h2>
  The Los Angeles Java Users' Group consists of Council Members and LAJUG Members. Council Members are a volunteer
  group of individuals who assist in administrating LAJUG. LAJUG Members are community members who participate in
  LAJUG monthly meetings and study groups.
  <h3>Council</h3>
  <h4>Marco Villalobos, President</h4>
  <p>Marco leads LAJUG. Feel free to contact him with any suggestions or questions. You may also contact him if you
    would like to provide a presentation at LAJUG. Marco has been managing LAJUG since 2003.</p>
  <p>You can also read more about Marco at <i class="fa fa-external-link"></i> <a href="http://mvillalobos.kineteque.com/" target="_blank">http://mvillalobos.kineteque.com/</a> or contact him at <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:mvillalobos@kineteque.com">mvillalobos@kineteque.com</a>.</p>
  <h4>Michael Amster, Council Member</h4>
  <p>Michael manages the official LAJUG website and mailing list. You can contact him at <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:mamster@webeasy.com">mamster@webeasy.com</a>.</p>
  <h4>Ken Dempster, Council Member</h4>
  <p>Ken leads the LAJUG Westside Study Group. You can contact him at <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:kennett.dempster@am.sony.com">kennett.dempster@am.sony.com</a>.</p>

</div>
