<h2>Next Meeting</h2>
<dl class="dl-horizontal">
  <dt>Date</dt>
  <dd>{{meeting.date}}</dd>
  <dt>Time</dt>
  <dd>6:00 p.m. - We network, drink beer, eat food (quite often pizza) from 6:00 p.m. and start the meeting at 7:00 p.m. We usually
    finish around 9:00 p.m.
  </dd>
  <dt>Location</dt>
  <dd>{{meeting.location}} - <i class="fa fa-map-marker"></i> <a routerLink="/directions">directions</a>
  </dd>
  <dt>YouTube Live Stream</dt>
  <dd>
    <span *ngIf="meeting.youtube && meeting.youtube.stream"><i class="fa fa-youtube"></i> <a href="{{meeting.youtube.stream}}" target="_blank">{{meeting.youtube.stream}}</a></span>
    <span *ngIf="!meeting.youtube || !meeting.youtube.stream">None Scheduled</span>
  </dd>
  <dt>Topic</dt>
  <dd>
    <span *ngIf="meeting.topic">{{meeting.topic}}</span>
    <span *ngIf="!meeting.topic">TBD</span>
  </dd>
  <dt>Speaker</dt>
  <dd>
    <span *ngIf="meeting.speaker && meeting.speaker.name">{{meeting.speaker.name}}</span>
    <span *ngIf="!meeting.speaker || !meeting.speaker.name">TBD</span>
  </dd>
  <dt>Company</dt>
  <dd>
    <span *ngIf="meeting.company && meeting.company.name">{{meeting.company.name}}</span>
    <span *ngIf="!meeting.company || !meeting.company.name">N/A</span>
  </dd>
  <dt>Abstract</dt>
  <dd>
    <span *ngIf="meeting.abstract" [innerHTML]="meeting.abstract"></span>
    <span *ngIf="!meeting.abstract">None currently available.</span>
  </dd>

  <dt *ngIf="meeting.speaker && meeting.speaker.information">Biography</dt>
  <dd *ngIf="meeting.speaker && meeting.speaker.information" [innerHTML]="meeting.speaker.information"></dd>

  <dt *ngIf="meeting.company && meeting.company.information">Company Information</dt>
  <dd *ngIf="meeting.company && meeting.company.information" [innerHTML]="meeting.company.information"></dd>
</dl>

<div class="embed-responsive embed-responsive-16by9" *ngIf="showYouTubeEmbed">
  <iframe width="560" height="315" [src]="meetingYoutubeEmbedUrl" frameborder="0" allowfullscreen></iframe>
</div>

