<div class="container">
  <h2>Email List</h2>

  <p>The list creates a dynamic for discussing topics related to the Java programming language. It also provides a
    forum for the members of the LAJUG community to network and interact professionally. Please read and mentally
    agree with the Email List Policy prior to participating. And note that both normal and digest versions are
    available. </p>

  <h3>Charter</h3>

  <p>The LAJUG Email List creates a dynamic for discussing topics related to the Java platform. It also provides a
    forum for the members of the LAJUG community to network and interact professionally. Please read and adhere to
    the Email List Guidelines prior to participating. Please note that normal and digest versions are available.</p>

  <h3>Guidelines</h3>

  <p>Please follow the guidelines below when participating in the LAJUG Email List.</p>
  <ul>
    <li><strong>Be careful when responding to the list.</strong> Replying
      to the list responds to the whole list, not just the sender. Take
      particular caution when including private matters or concerns in your
      messages. If you must reply privately, then edit the message header
      to replace the LAJUG email list address with that of the intended
      recipient.
    </li>
    <li><strong>Use the list to discuss the Java Platform and related technologies.</strong>
      If you are not posting Java Platform related messages, then preface
      your message with EMPLOYMENT, ANNOUNCEMENT, PROMOTION, WORKSHOP, CONFERENCE
      or other reasonable subjects. This allows for users to easily organize
      their messages.<br>
      <br>
      If you stray off topic, at least try to be concise, witty, and intelligent.
      When people ask you to be quiet, please do so.
    </li>
  </ul>
  <p><strong>Posting Employment Opportunities</strong></p>

  <p>While the LAJUG Job Board is under development, please post employment
    opportunities to the LAJUG Jobs List.</p>

  <p>Below are guidelines for posting employment opportunities to the LAJUG
    Email List:.</p>
  <ul>
    <li>Show up to any LAJUG Meetings to announce your openings.</li>
    <li>Combine multiple job opportunities into one email.</li>
    <li>Post if you are the official company human resources representative.</li>
  </ul>
  <p>In addition, LAJUG has created the following &quot;do <u>not</u>&quot;
    rules for Job Opportunity Posters:</p>
  <ul>
    <li>Do <u>not</u> post weekly or daily job opportunities for the same
      positions.
    </li>
    <li>Do <u>not</u> use tacky or verbose language.</li>
    <li>Do <u>not</u> behave as a blowhard recruiter or headhunter.</li>
  </ul>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td nowrap><strong>
          Command</strong></td>
        <td><strong>Email Address</strong></td>
        <td><strong>Description</strong></td>
      </tr>
      <tr>
        <td>Post Message</td>
        <td><a href="mailto:lajug@lajug.org"><i class="icon-envelope"></i>
          lajug@lajug.org</a></td>
        <td><p>Post to the LAJUG Email List by sending a message to the given
          email address. You must subscribe to the list or the digest before
          you can post to the LAJUG Email List.</p></td>
      </tr>
      <tr>
        <td>Subscribe</td>
        <td><a href="mailto:lajug-subscribe@lajug.org"><i class="icon-envelope"></i>
          lajug-subscribe@lajug.org</a></td>
        <td>Subscribe to the LAJUG Email List by sending a blank message to
          the given email address.
        </td>
      </tr>
      <tr>
        <td>Unsubscribe</td>
        <td><a href="mailto:lajug-unsubscribe@lajug.org"><i class="icon-envelope"></i>
          lajug-unsubscribe@lajug.org</a></td>
        <td>Unsubscribe to the LAJUG Email List by sending a blank message
          to the given email address.
        </td>
      </tr>
      <tr>
        <td>Digest Subscribe</td>
        <td><a href="mailto:lajug-digest-subscribe@lajug.org"><i class="icon-envelope"></i>
          lajug-digest-subscribe@lajug.org</a></td>
        <td>Subscribe to the digest version, in which one compilation is sent
          every few days, by sending a blank message to the given email address.
        </td>
      </tr>
      <tr>
        <td>Digest Unsubscribe</td>
        <td><a href="mailto:lajug-digest-unsubscribe@lajug.org"><i class="icon-envelope"></i>
          lajug-digest-unsubscribe@lajug.org</a></td>
        <td>Unsubscribe to the digest version, in which one compilation is
          sent every few days, by sendng a blank message to the given email
          address.
        </td>
      </tr>
      <tr>
        <td>Jobs Subscribe</td>
        <td><a href="mailto:jobs-subscribe@lajug.org"><i class="icon-envelope"></i>
          jobs-subscribe@lajug.org</a></td>
        <td>Subscribe to the LAJUG Jobs List by sending a blank message to
          the given email address.
        </td>
      </tr>
      <tr>
        <td>Jobs Unsubscribe</td>
        <td><a href="mailto:jobs-unsubscribe@lajug.org"><i class="icon-envelope"></i>
          jobs-unsubscribe@lajug.org</a></td>
        <td>Unsubscribe to the LAJUG Jobs List by sending a blank message
          to the given email address.
        </td>
      </tr>
      <tr>
        <td>Jobs Post</td>
        <td><a href="mailto:jobs@lajug.org"><i class="icon-envelope"></i>
          jobs@lajug.org</a></td>
        <td>Post to the LAJUG Jobs List by sending a message to the given
          email address. You must subscribe to the list before you can post
          to the LAJUG Jobs List.
        </td>
      </tr>
      <tr>
        <td>Help</td>
        <td><a href="mailto:lajug-help@lajug.org"><i class="icon-envelope"></i>
          lajug-help@lajug.org</a></td>
        <td>If you need further assistance, send a blank email to the given
          email address.
        </td>
      </tr>
    </table>
  </div>
  <p><br>
    We recommend trying the regular list first. If it overwhelms you,
    then unsubscribe and try the digest version. Note that joining both
    lists is redundant.</p>

  <p>Furthermore, thanks to Michael Amster for setting up and running
    the lists.</p>

</div>
