<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-page-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" routerLink="/">
        <span class="glyphicon glyphicon-home"></span> LAJUG
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="home-page-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/">Schedule</a></li>
        <li><a routerLink="/directions">Directions</a></li>
        <li><a routerLink="/mailing-list">Mailing List</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="header" class="hidden-xs">
  <div class="row">
    <div class="logo"><a href="index.html"><img src="assets/images/lajug.gif" alt="LAJUG"></a></div>
    <div class="banner"><img src="assets/images/lajug-banner.gif" alt="LAJUG"></div>
  </div>
  <p></p>
</div>

<router-outlet></router-outlet>

<p></p>
<footer class="footer">
  <div class="container hidden-xs">
    <div class="col-md-6">
      <ul class="nav">
        <li>
          <a routerLink="/">Schedule</a>
          <ul class="nav">
            <li><a href="#">Next Meeting</a></li>
            <li><a href="#">Meetings</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="nav">
        <li><a routerLink="/directions">Directions</a></li>
        <li><a routerLink="/mailing-list">Mailing List</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6">
      <h4>Sponsors</h4>

      <div><a href="http://pivotal.io/" target="_blank" alt="Pivotal"><img style="max-width: 100px;" src="assets/images/sponsers/pivotal-transparent.png"/></a></div>
      Pivotal provides our meeting location in Santa Monica. Pivotal is the primary sponsor of the Spring Community, and also supports contributors to a variety of open source projects.
      <div><a href="http://www.jetbrains.com" target="_blank"><img style="max-width: 100px;"
                                                                   src="assets/images/sponsers/jetbrains-transparent.gif" alt="JetBrains"></a></div>
      Our monthly raffle of products such as IntelliJ are provided by <a
      href="http://www.jetbrains.com" target="_blank">JetBrains</a>.
    </div>
    <div class="col-md-6">
      <h4>Seeking Speakers</h4>
      <p>Interested in speaking at LAJUG? We are always looking for speakers. Please contact <i class="glyphicon glyphicon-envelope"></i> <a
        href="mailto:mvillalobos@kineteque.com">Marco Villalobos.</a></p>
      <h4>Follow LAJUG</h4>
      <a href="http://www.meetup.com/Los-Angeles-Java-User-Group/" target="_blank"><i class="fa fa-meetup fa-2x"></i></a>
      <a href="http://www.linkedin.com/groups?home=&gid=88839&trk=anet_ug_hm" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href="https://plus.google.com/u/0/b/113282571814794046157/113282571814794046157/posts" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
      <a href="https://www.youtube.com/channel/UCkZW1LLneaMXgbbNdm5ToHg/feed?view_as=public"><i class="fa fa-youtube-square fa-2x"></i></a>
    </div>
  </div>
</footer>
